<nav-component></nav-component>
<br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12" *ngIf="inicio == true">
			<table class="table">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Nombre</th>
			      <th scope="col">DNI - RUC</th>
			      <th scope="col">Descripción</th>
			      <th scope="col">Monto</th>
			      <th scope="col">Estado</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let cit of cita; index as i">
			      <th scope="row">{{i+1}}</th>
			      <td>{{cit.nombre}}</td>
			      <td>{{cit.dni_ruc}}</td>
			      <td>{{cit.descripcion}}</td>
			      <td>{{cit.monto}}</td>
			      <td><button *ngIf="cit.estado == 3" class="btn btn-success" (click)="finalizarCambiarEstadoController(cit.id)">Finalizar</button><button *ngIf="cit.estado == 1" class="btn btn-success">Imprimir</button></td>
			      <td ></td>
			    </tr>
			  </tbody>
			</table>
		</div>
		<div class="col-md-12" *ngIf="inicio == false">
			<div class="loader" id="loader">Loading...</div>
		</div>
	</div>
</div>