<nav-component></nav-component>
<br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center">Total del Día: S/{{total?.total| number:'1.0'}}</h3>
		</div>
		<div class="col-md-12" *ngIf="inicio == true">
			<table class="table">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Nombre</th>
			      <th scope="col">DNI</th>
			      <th scope="col">Descripción</th>
			      <th scope="col">Monto</th>
			      <th scope="col">Estado</th>
			      <th scope="col">Boleta</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let cit of cita; index as i">
			      <th scope="row">{{i+1}}</th>
			      <td>{{cit.nombre}}</td>
			      <td>{{cit.dni_ruc}}</td>
			      <td>{{cit.descripcion}}</td>
			      <td>{{cit.monto}}</td>
			      <td><button *ngIf="cit.estado == 3" class="btn btn-success" (click)="finalizarCambiarEstadoController(cit.id)">Finalizar</button>
			      	<a *ngIf="cit.estado == 1" class="btn btn-success" target="_blank" href="https://api.consultoriovasquez.com/index.php/tickets/consultorio/imrprimirDocumento/{{cit.id}}.pdf">Imprimir</a></td>
			      <td *ngIf="cit.serie">{{cit.serie}}</td>
			      <td *ngIf="!cit.serie">NULL</td>
			    </tr>
			  </tbody>
			</table>
		</div>
		<div class="col-md-12" *ngIf="inicio == false">
			<div class="loader" id="loader">Loading...</div>
		</div>
	</div>
</div>