<nav-component></nav-component>
<br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12" *ngIf="inicio == true">
			<table class="table">
			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Nombre</th>
			      <th scope="col">DNI</th>
			      <th scope="col">Productos</th>
			      <th scope="col">Monto</th>
				  <th scope="col">Estado</th>
				  <th scope="col">Boleta</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let med of medico; index as i">
			      <th scope="row">{{i+1}}</th>
			      <td>{{med.nombre}}</td>
			      <td>{{med.dni_ruc}}</td>
			      <td><button class="btn btn-success" (click)="abrirProductosCajaPago(med.id)">Ver Productos</button></td>
			      <td>{{med.total}}</td>
			      <td><button *ngIf="med.estado == 3" class="btn btn-success" (click)="finalizarCambiarEstadoController(med.id)">Finalizar</button><button *ngIf="med.estado == 1" class="btn btn-success">Imprimir</button></td>
			      <td *ngIf="med.serie">{{med.serie}}</td>
			      <td *ngIf="!med.serie">NULL</td>
			    </tr>
			  </tbody>
			</table>
		</div>
		<div class="col-md-12" *ngIf="inicio == false">
			<div class="loader" id="loader">Loading...</div>
		</div>
	</div>
</div>
<div class="modal fade" id="obtenerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Productos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<table class="table">
		  <thead class="thead-dark">
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Nombre</th>
		      <th scope="col">Cantidad</th>
		      <th scope="col">Indicaciones</th>
		      <th scope="col">Total</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr *ngFor="let mc of productos;index as i">
		      <th scope="row">{{i+1}}</th>
		      <td>{{mc.descripcion}}</td>
		      <td>{{mc.cantidad}}</td>
		      <td>{{mc.indicacion}}</td>
		      <td>{{mc.cpt}}</td>
		    </tr>
		  </tbody>
		</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>